.DS_Store
vendor
.vscode

*.conf
*.rc
*.env

redis-backup

helm/assets/google-service.json
helm/assets/cloudflare-api-key.txt
helm/values.yaml

k8s
helm/charts/*.tgz

*.gen.go

testOutput.xml
active_profiles
out*

.docker/data
.docker/certs/*.pem